@import 'tailwindcss';

@theme {
  --color-dark: #000000;
  --color-surface: #0B0B0D;
  --color-elevated: #111827;

  --color-primary:   #12a258;
  --color-primary-dark: #0a6d3b;
  --color-secondary: #f82723;
  --color-accent:    #fabe33;
  --color-accent-dark:    #e6552a;

  --color-title:    #FFFFFF;
  --color-subtitle: #daf7fd;
  --color-muted:    #bec1c0;

  --color-success: #16A34A;
  --color-error:   #FF4D4F;
  --color-warning: #F59E0B;
}